<h1>Editando Pessoa</h1>

<%= render 'form', pessoa: @pessoa %>

<div align="Center">
  <%= link_to 'Voltar', pessoas_path, :style=>'color:#FFFFFF;', :class => "btn btn-danger" %> |
<%= link_to 'Exibir', @pessoa, :style=>'color:#FFFFFF;', :class => "btn btn-info" %>
</div>
