<% content_for :title do %>About<% end %>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Bem vindo!</h4>
  <p>Seja bem vindo, é somente mais uma página inútil.</p>
  <hr>
  <p class="mb-0">É só para ver se separa do comentário inútil acima.</p>
</div>
